/**********

This stylesheet is written in BEM.

Block = .block
Element = .block__element
Modifier = block__element--modifier / .block--modifier

**********/

/* Textbox Styling ********************************************************************************/
.textbox-underlayer {
  display: none;

  @media screen and (min-width: $desktop) {
    background: $white-transparent;
    bottom: 3.5vh;
    display: block;
    position: absolute;
    width: 1300px;
  }
}

.textbox {
  align-items: center;
  background: $pale-blue;
  border: 0.8vh solid $light-blue;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5em 0.75em 0.25em;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $desktop) {
    background: $pale-blue-transparent;
    border-radius: 0.3em;
    border-top: 0.8vh solid $light-blue;
    bottom: 2.7vh;
    position: absolute;
    width: 1300px;
  }

  &__header {
    font-family: "Sirenne Roman OSF";
    font-size: 5.79vh;
    line-height: 5.25vh;
    margin-bottom: 0.085em;
    margin-top: 0.06em;
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin-bottom: 0.06em;
      margin-top: 0;
    }
  }

  &__span-in-init-header {
    font-size: 3.15vh;
  }

  &__text {
    &--init {
      font-family: "Sirenne Roman OSF";
      font-size: 3.35vh;

      @media screen and (min-width: $desktop) {
        font-size: 2.7vh;
        margin-top: -0.23em;
      }
    }

    &--schalansky-span {
      font-family: "Sirenne Bold OSF";
      font-size: 3.192vh;
      font-style: normal;
      font-weight: bold;

      @media screen and (min-width: $desktop) {
        font-size: 2.75vh;
      }
    }

    &--book-excerpt {
      font-family: "Sirenne Italic OSF";
      font-size: 3.35vh;
      font-style: italic;
      font-weight: normal;
      line-height: 4.5vh;

      @media screen and (min-width: $desktop) {
        font-size: 2.7vh;
        line-height: 3.57vh;
        margin-top: -0.111em;
      }
    }
  }
}
